body{
  font-family: 'Varela Round', sans-serif;
}
.mainbody {
  /*height: 900px;*/
  /*width: 900px;*/
  /*background-color:  #d0e1e1;*/
}

.topborder {
  border-top: 3px solid #639c9c;
}

.topSpacer {
  margin: 1px 15px;
}

.topFlexDiv {
  display: flex;
  justify-content: space-between;
  min-width: 590px;
}

.linkstyle {
  text-align: center;
  text-decoration: none
  margin: 1px 3px;
  padding: auto;
  color: #748c9c;
  background-image:
  radial-gradient(
    #e0ebeb,
    #b1cdcd 75%
  );
}

.linkstyle:hover {
  text-decoration: none;
  color: #283e3e
}

.linkstyle:visited {
  text-decoration: none;
  color: #748c9c;
}


.linkstyle:active {
  text-decoration: none;
  color: #748c9c;
}

.topbar {
  background-color: #b1cdcd;
  /*border-width: 3px;*/
  /*border-style: solid;*/
  border-top: 3px solid #639c9c;
  background-image: linear-gradient(#639c9c,transparent),
                    linear-gradient(#639c9c,transparent);
  background-size: 3px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  /*border-image: linear-gradient(to bottom, #639c9c, rgba(0, 0, 0, 0)) 1 100%;*/
}

.searchButton {
  margin: 4px 2px;
}

.logo {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.card {
  background-color:  #d0e1e1;
  margin: 25px 30px;
  /*border-width: 3px;*/
  /*border-style: solid;*/
  border-top: 3px solid #639c9c;
  background-image: linear-gradient(#639c9c,transparent),
                    linear-gradient(#639c9c,transparent);
  background-size: 3px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  min-width: 260px;
  font-size: .75em;
}

.rowOrient {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.titlebox {
  margin: 5px 3px;
  padding: 2px 7px;
  background-image: linear-gradient(45deg,#90bbbb,#d0e1e1);
}

.cardHeaders {
  margin: 3px;
  size: .75em;
}


/*h3 {
  margin: 3px;
}*/


.imageBlock{
  /*width: 70%;*/
  display: flex;
  justify-content: center;
  border: 2px solid #90bbbb;
  align-items: center;
}

.imageStyle{
  max-height: 250px;
}

.actorbox {
  margin-top: 3px;
  padding: 5px 5px 10px;
  background-image: linear-gradient(45deg,#90bbbb,#d0e1e1);
}

.bottomBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.viewbar {
  /*justify-content: flex-start;*/
  padding: 3px 5px;
}

.btn-primary {
  background-color: #90bbbb;
  border-color: #639c9c;
}

.checkstyle {
  margin-top: 0;
}

.ratings {
  /*justify-content: flex-end;*/
  padding: 3px 5px;
}

.addRemove {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.addButton {
  /*justify-content: flex-start;*/
  padding: 7px 5px 3px;
}

.deleteButton {
  /*justify-content: flex-end;*/
  padding: 7px 5px 3px;
}
